#history-container,
#playlists-container,
#search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    gap: 5px;
    overflow-y: auto;
}

.historyCard,
.playlistCard,
.searchCard {
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.2s ease;
    cursor: pointer;
    flex: 1 0 300px;
    max-width: 400px;
    min-height: 250px;
    font-size: 0.7em;
    position: relative;

    div.img {
        background-image: url("/favicon.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        aspect-ratio: 16 / 9;
        margin-bottom: 5px;
    }

    div.btns {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &:has(div.btns) {
        padding-bottom: 2rem;
    }

    &:hover {
        transform: scale(0.99);
    }

    button {
        float: right;
        scale: 0.7;
        cursor: pointer;

        &.rm {
            color: red;
            cursor: not-allowed;
        }
    }
}

@media screen and (max-width: 800px) {
    .historyCard,
    .playlistCard,
    .searchCard {
        max-width: calc(100vw - 60px);
    }
}