#history-container,
#playlists-container,
#playlist-snap-container,
#search-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    overflow-y: auto;
    align-items: stretch;

    &.fewItems {
        grid-template-columns: repeat(4, 300px);

        &>div {
            max-width: 300px;
        }
    }
}

.historyCard,
.playlistCard,
.playlistSnapCard,
.searchCard {
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.2s ease;
    cursor: pointer;
    min-height: 300px;
    max-height: fit-content;
    max-width: 450px;
    height: auto;
    overflow: hidden;

    font-size: 0.7em;
    position: relative;

    div.img {
        background-image: url("/favicon.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 450px;
        aspect-ratio: 16 / 9;
        margin-bottom: 5px;
    }

    div.btns {
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        margin-bottom: 5px;
        min-height: 2rem;
        flex-shrink: 0;
    }

    &:hover {
        transform: scale(0.99);
    }

    button {
        transform: scale(0.7);
        transform-origin: right top;
        cursor: pointer;

        &.rm {
            color: red;
            cursor: not-allowed;
        }
    }
}

@media (max-width: 1400px) {

    .historyCard,
    .playlistCard,
    .searchCard {
        min-height: 350px;
    }
}