#settings-view {
    padding: 5px;

    h1 {
        margin-bottom: 10px;
    }

    #settings-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: auto;
        padding-bottom: 2rem;

        label {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        button, input, select, textarea {
            color: var(--txt);
            background-color: var(--bg);
            border: 1px solid var(--accent);
            padding: 5px;
            border-radius: 5px;
            min-width: 4rem
        }

        input[type="checkbox"] {
            min-width: 1rem;
        }

        textarea {
            margin-top: 5px;
        }

        button {
            width: fit-content;
            cursor: pointer;
        }
    }
}