#history-container,
#playlists-container,
#playlist-snap-container,
#search-container,
#channel-videos,
#feed-container,
#alg-container,
#subs-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    overflow-y: auto;
    align-items: stretch;

    &.fewItems {
        grid-template-columns: repeat(4, 300px);

        &>div {
            max-width: 300px;
        }
    }
}

.historyCard,
.playlistCard,
.playlistSnapCard,
.searchCard,
.channelVideoCard,
.feedCard,
.algCard,
.subCard {
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.2s ease;
    cursor: pointer;

    font-size: 0.7em;
    position: relative;

    div.img {
        background-image: url("/favicon.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 450px;
        aspect-ratio: 16 / 9;
        margin-bottom: 5px;
    }

    div.btns {
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        min-height: 2rem;
        flex-shrink: 0;
    }

    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    &:hover {
        transform: scale(0.99);
    }

    button {
        transform: scale(0.7);
        transform-origin: right top;
        cursor: pointer;

        &.rm {
            color: red;
            cursor: not-allowed;
        }
    }
}