@use "aside";
@use "bar";
@use "generalView";
@use "main";
@use "nav";
@use "playlist";
@use "popup";
@use "scroll";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --txt: #e1e1e1;
    --bg: #111;
    --accent: #ff0000;
    --player-bg: #020202;
    --border: #444;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    color: var(--txt);
}

.btn {
    cursor: pointer;
    border: 1px solid var(--accent);
    background: none;
    color: var(--txt);
    padding: 0.5em 1em;
    border-radius: 5px;
}

#loader {
    transition: opacity 0.2s ease;
}