name: Build ASAR

on:
  push:
    branches:
      - master

  workflow_dispatch:

concurrency:
  group: build-asar-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ">=23"

      - name: Build app
        run: |
          npm install -g typescript tsc-alias asar
          npm install
          npm run build

      - name: Build frontend
        run: |
          cd front
          npm install
          npm run build

      - name: Create ASAR package
        run: |
          mkdir -p asar-temp/front
          cp -r dist asar-temp/dist
          cp -r front/dist asar-temp/front/dist
          cp -r public asar-temp/public
          cp -r package.json asar-temp/package.json
          rm -rf asar-temp/public/scss
          # remove source maps
          find asar-temp -type f -name "*.map" -exec rm -f {} \;

          cd asar-temp
          npm install --omit=dev
          cd ..

          asar pack asar-temp app.asar

      - name: Generate SHA256
        run: |
          sha256sum app.asar | cut -d ' ' -f1 > app.asar.sha256

      - name: Split ASAR into 80MB parts
        run: |
          mkdir output
          split -b 80m app.asar output/part_
          mv app.asar.sha256 output/

      - name: Generate manifest.json
        run: |
          cd output
          FILE_LIST=$(ls part_* | sort | jq -R . | jq -s .)
          CHECKSUM=$(cat app.asar.sha256)
          COMMIT=$(git rev-parse HEAD)
          echo "{\"parts\": $FILE_LIST, \"sha256\": \"$CHECKSUM\", \"commit\": \"$COMMIT\"}" > manifest.json

      - name: Push to dist branch
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

          git checkout --orphan dist-split
          git reset -q HEAD --

          git add -f -A output

          git commit -m "Upload split ASAR and manifest [skip ci]" || echo "No changes to commit"
          git push origin dist-split --force

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: voidtube-asar
          path: |
            app.asar
            app.asar.sha256
